{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pequeña Gran Estrella</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=2">
<body>
    <header class="main-header">
        <button class="menu-toggle" aria-label="Abrir menu" onclick="toggleMenu()">
            <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#A89589" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>

        <div class="logo">
            <a href="{% url 'store:home' %}">MPGE</a>
        </div>

        <div class="cart-icon-container">   
            <a href="{% url 'store:cart_detail' %}" aria-label="Ir al Carrito">
                <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#A89589" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
            </a>
        </div>

        <nav class="nav-menu" id="navMenu">
            <button class="close-btn" onclick="toggleMenu()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </button>

            <a href="{% url 'store:home' %}">Inicio</a>
            <a href="#">Iniciar Sesion</a> 
            <a href="#">Sublimados</a>
            <a href="{% url 'store:home' %}">Tienda</a>
            <a href="{% url 'store:cart_detail' %}">Mi Carrito</a>
            <a href="/admin">Administracion</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script>
        function toggleMenu() {
            const menu = document.getElementById('navMenu');
            menu.classList.toggle('active'); 
        }
    </script>
</body>
</html>